ApiClientes/.vs/ApiClientes/DesignTimeBuild/
ApiClientes/.vs/ApiClientes/config/
ApiClientes/.vs/ApiClientes/v17/
ApiClientes/.vs/ProjectEvaluation/
ApiClientes/obj/Debug/net8.0/staticwebassets/
ApiClientes/obj/Debug/net8.0/
ApiClientes/obj/
ApiClientes/Properties/
ApiClientes/bin/Debug/net8.0/
ApiClientes/
